body {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  height: calc(100vh - 64px);
}

.dashboard-container {
  margin: 0 auto;
  width: 60%;
  align-items: flex-start;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form {
  margin: 0 auto;
  align-self: center;
}

.form input {
  width: 200px;
}

.form .button {
  margin-top: 8px;
  width: 200px;
}

.card-title-container {
  margin-top: 16px;
}
